html, body {
    background-color: cyan;
    width: 50%;
    margin: 0 auto;
    font-family: Arial;
}
.container {
    width: 360px;
}
#inputField {
    width: 250px;
    height: 48px;
    border-width: 10;
    border: 1px solid red;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    background-color:antiquewhite ;
}
#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}
.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
.to-dos {
    margin-top: 25px;
}